* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* <!--Header style--> */
.navebar {
    background-color: #002838;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.brand {
    color: #78B8C0;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu {
    width: 70%;

}

.menu .all-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.all-list li {
    display: inline-block;
    justify-content: space-around;
    margin: 8px 20px;



}

.all-list li a {
    text-decoration: none;
    color: #F0F0F0;
    padding: 8px 12px;
    border: none;
    border-bottom: 2px solid #F0F0F0;
}

.all-list li a:hover {
    color: #78B8C0;
    border-bottom: 3px solid #78B8C0;
}

.active {

    border: 1px solid #78B8C0;
    color: #78B8C0;

}

/* ------------main body style */

main {
    background-color: #f04050;
    height: 100%;
    padding: 20px;

}

.container {
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    width: fit-content;
    box-shadow: 1px 0px 10px #002838;
    border-radius: 8px;

}

.input-field {
    margin: 10px 30px;
    width: 300px;
    height: 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgb(201, 201, 201);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 1px 3px rgb(19, 18, 18);
    border: 1px solid #F0F0F0
}

.field {
    width: 90%;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10px;

}

.field:focus {

    outline: none;
}

.fa {
    padding-top: 8px;
    background-color: #002838;
    color: #78B8C0;
    width: 10%;
    text-align: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.input-field:focus {
    outline: 1px;
    border: 1px solid #002838;


}

#btn {
    background-color: #002838;
    color: #78B8C0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    width: fit-content;
    padding: 8px 15px;
    margin: 10px auto 20px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px rgb(19, 18, 18);
    border: 1px solid #F0F0F0
}

.box-heading {
    background-color: #002838;
    color: #78B8C0;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}